<div style="direction: rtl;">
  <table align="right" width="600">
    <tr>
      <td>
        <span style="float: right;"><img src="https://res.cloudinary.com/jobkitchen/image/upload/v1555185671/email-image.png" alt="Job Kitchen logo"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h3>שלום רב!</h3>
        <p>המשרה שפרסמת עלתה לאתר בהצלחה, וממש ברגעים אלה אלפי חברי הקהילה נחשפים אליה.</p>
        <p>אנו כמובן פועלים במרץ וללא הפסקה, בכדי שמשרתך תזכה לחשיפה מקסימלית ותגיע בדיוק לעובד המתאים לך!</p>
        <p>מחכים לעדכון והזמנה לקפה כשתמצא את עובדי החלומות המיועדים.</p>
        <p>שלך,</p>
        <p><strong>צוות Job Kitchen</strong></p>
      </td>
    </tr>
  </table>
</div>
