<span style="direction: rtl;">
<span style="margin: 5px;"><%= image_tag "LOGOBlack.png" %></span>
<h1>שלום רב!</h1>
<p>כמה כיף שהצטרפת ל- Job Kitchen, פורטל הדרושים בתחום המסעדנות והאירוח הגדול בישראל.</p>
<p>מחפשים עבודה שווה? מפרסמים משרה נחשקת? אנו בJob Kitchen- עשינו כל שביכולתנו בכדי להקים את הפלטפורמה המושלמת עבורכם- נעימה, ידידותית, יעילה ובעיקר עונה על צרכי השוק הייחודיים.</p>
<p>אנו מזמינים אותך להיכנס לאתר ולגלות עולם חדש ומלא אפשרויות תעסוקה.<br>
לינק קישור לאתר: <%= link_to "www.jobkitchen.co.il", www.jobkitchen.co.il %></p>
<p>בכל עניין ושאלה, ניתן לפנות אלינו בדוא"ל:  support@jobkitchen.co.il <br>
או בטלפון של שירות הלקוחות 058-7870680</p>
<p>מחכים לשמוע עדכון שמצאת את ג'וב החלומות,</p>
<p>שלך,</p>
<p>צוות Job Kitchen</p>
</span>
