<div class="container reversed">
  <h1 class="f2 ma3">פורטל שנותן מענה ופתרונות אמיתיים לתעשיית המזון והמשקאות</h1>
    <div class="ma3 ">
      <p class="mv2">שוק העבודה בתחום המזון והמשקאות כל הזמן בתנועה, הוא נתון להרבה חידושים, שינויים והתפתחויות. בקיצור, בלגאן גדול.</p>


      <p class="mv2">אנחנו רוצים להיכנס לשוק עבודה שמתאים לנו, למצוא עבודה שמכבדת ומעריכה אותנו ואת הזמן שלנו.
      מקצוע לחיים שהוא מספק ומעניק הזדמנויות חדשות ומענייניות!
      למצוא עבודה בקלות, במהירות ושתתאים לנו כמה שיותר.
      עבודות שיקדמו אותנו, בלי להתבלבל ולבזבז זמן רב בחיפוש עבודה בפורטלי דרושים לא רלוונטים ורשתות חברתיות מבולגנות ויקרות.</p>


      <p class="mv2">אתר <strong>JobKitchen</strong> מספק פורטל דרושים שהותאם במיוחד לצרכי תעשיית המזון והמשקאות, עם מענה לכל גורם ממחפשי עבודה עד לספקים.  מהחברות המובילות במשק לצד עסקים שבתחילת דרכם.
      הפורטל עוצב עם התחשבות ודגשים לדברים שחשובים באמת לאנשים בתעשיית המזון - הורדת עלויות פרסום, תגמול עובדים, סינון משרות רלוונטיות, מענה אנושי, ייעוץ למחפשי עבודה, עזרה בקליטת עובדים ועוד המון מאפיינים ייחודיים.</p>


      <p class="mv2">מאז ומתמיד כל תזוזה קטנה של גורם בשרשרת בין אם זה עובד, מעסיק או ספק מתבטאת באינספור טלפונים, לחץ, לילות ללא שינה, עבודה "בזמן הפנוי" ועוד שלל הקרבות. זה שוחק מאוד.
      אחרי עשרות שנות נסיון בתחום המזון והבנה עמוקה שלו מעבודה במשרות שונות ויצירת קשר עם גורמים שונים בתעשייה, אנחנו יכולים לראות ולתת מענה לצרכים של אנשי התעשייה בצורה הטובה ביותר. עם תשומת לב מיוחדת לפרטים שבאמת חשובים.  הרבה יותר מפלטפורמות אחרות שפשוט לא מתאימות.</p>

      <p class="mv2"><strong>ההצעה</strong></p>
      *ייעוץ בקורות חיים ותעסוקה | *ייעוץ בקליטת עובדים חדשים

      <p class="mv2">ב- <strong>JobKitchen</strong> מאמינים במתן שירות זמין, יעיל ואמין.
      אנחנו מזמינים אתכם להתרשם משירותינו.  באנו לעבוד, לא? [כפתור "התחילו עכשיו"] *טופס השרמה/יצירת פרופיל למועסק/פתיחת דף מעסיק*</p>

      <p class="mv2">גלישה נעימה ובהצלחה, צוות <strong>JobKitchen</strong></p>
    </div>
</div>
