<div class="container reversed">
  <h1 class="f2 ma3">פורטל שנותן מענה ופתרונות אמיתיים לתעשיית המזון והמשקאות</h1>
  <div class="ma3 ">
    <p class="mv2">שוק העבודה בתחום המסעדנות  והאירוח נמצא בתנועה מתמדת, נתון לחידושים רבים, שינויים והתפתחויות, ומשכך מאופיין בתחלופת כוח אדם גבוהה.</p>
    <p class="mv2">בסופו של יום, כולנו נמצאים בחיפוש אחר עבודה שמתאימה לנו- כזו שתתגמל ותאתגר אותנו, שתהווה מקצוע לחיים עבורנו ושתעניק לנו הזדמנויות חדשות ומעניינות, ותאפשר לנו להתפתח ולצמוח. </p>
    <p class="mv2">הדרך למציאת עבודת החלומות ארוכה ורצופת מכשולים, וגוזלת מאיתנו זמן ומשאבים יקרים, בעודנו משוטטים בפורטלי דרושים לא רלוונטיים ורשתות חברתיות עמוסות אפשרויות.</p>
    <p class="mv2">לאחר עשרות שנות ניסיון בתחום ומתוך צורך זה קם אתר <strong>JobKitchen</strong>, פורטל דרושים שהותאם במיוחד לצרכי השוק הייחודיים, במטרה לתת מענה לכלל הגורמים בתחום- החל ממחפשי העבודה וכלה בספקים.</p>
    <p class="mv2">
      השקענו מחשבה רבה בעיצוב הפורטל, תוך שימת דגש על הורדת עלויות פרסום, תגמול הולם לעובדים, סינון משרות רלוונטיות, מתן ייעוץ למחפשי עבודה, עזרה בקליטת עובדים ועוד שלל מאפיינים ייחודיים, תוך שיתוף פעולה עם החברות המובילות במשק, לצד עסקים בתחילת דרכם.
    </p>
    <p class="mv2">אנו ב- <strong>JobKitchen</strong> דוגלים בשירות זמין, יעיל ואמין, ומזמינים אתכם להצטרף אלינו למהפכה, במטרה ליצור שוק ידידותי ויעיל. מוכנים להתחיל? אפשר גם עם לייק <a href="https://www.facebook.com/profile.php?id=100010043227976&ref=br_rs" target="_blank">בפייסבוק </a>(-: </p>
    <p class="mv2">גלישה נעימה ובהצלחה, צוות <strong>JobKitchen</strong></p>
  </div>
</div>