<div class="thank-you container reversed">
  <h1 class="f1 ma3 thank-you-title">תודה שבחרתם לפרסם בג'וב קיטשן</h1>
  <div class="ma3 ">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <p class="mv2 thank-text">מקווים שתגייסו את המשרה שפרסמתם בהקדם!</p>
    <p class="mv2" id="thank-line2">חשבונית מס קבלה תשלח אליכם בדוא"ל בדקות הקרובות</p>
    <%= link_to "חזור", root_path, class: "button is-success is-medium" %>
  </div>
</div>