<div class="thank-you container reversed">
  <h1 class="f1 ma3 thank-you-title">תודה על המודעה</h1>
  <div class="ma3 ">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <p class="mv2 thank-text">שוק העבודה בתחום המסעדנות  והאירוח נמצא בתנועה מתמדת, נתון לחידושים רבים, שינויים והתפתחויות, ומשכך מאופיין בתחלופת כוח אדם גבוהה.שוק העבודה בתחום המסעדנות  והאירוח נמצא בתנועה מתמדת, נתון לחידושים רבים, שינויים והתפתחויות, ומשכך מאופיין בתחלופת כוח אדם גבוהה.שוק העבודה בתחום המסעדנות  והאירוח נמצא בתנועה מתמדת, נתון לחידושים רבים, שינויים והתפתחויות, ומשכך מאופיין בתחלופת כוח אדם גבוהה.שוק העבודה בתחום המסעדנות  והאירוח נמצא בתנועה מתמדת, נתון לחידושים רבים, שינויים והתפתחויות, ומשכך מאופיין בתחלופת כוח אדם גבוהה.</p>
    <%= link_to "חזור", root_path, class: "button is-success is-medium" %>
  </div>
</div>