<div class="container reversed">
  <h1 class="f2 ma3">תקנון האתר - מעסיקים</h1>
  <h1 class="f4 ma3">ל-"תקנון אתר - מחפשי עבודה" - <%= link_to "לחץ כאן", "/pages/תקנון_מחפשי_עבודה", class:""%></h1>
  <div class="ma3 ">
    <p class="mv2"><strong>מבוא:</strong></p>
      <p>האתר משמש כלוח פרסומי. השימוש באתר ובתכנים המוצגים בו כפוף לתנאי השימוש המפורטים להלן. אנא קרא תנאים אלה בעיון ובקפידה, שכן תחילת השימוש באתר ותכניו מעידה על הסכמתך ואישורך לאמור בתנאי שימוש אלו.
      האמור בתקנון זה מנוסח בלשון זכר מטעמי נוחות בלבד אולם הוא מיועד גם לנשים.

      <p class="mv2"><strong>הגדרות:</strong></p>
      חברת ג'וב קיטשן בע"מ, המפעילה את אתר www.jobkitchen.co.il, תיקרא להלן "ג'וב קיטשן" ו/או "החברה"), והאתר ייקרא להלן: "האתר".
      המידע המוצג באתר, לרבות המידע במודעות הדרושים המוצגות באתר וכן המידע אשר מוזן על ידי משתמש באתר ייקרא להלן: "המידע".
      כל גוף ו/או אדם שחתם על הזמנת פרסום אצל ג'וב קיטשן ו/או הזמין ממנה שירותים כאמור לעיל ולהלן, ייקרא להלן: "המפרסם".
      הזמנת פרסום שתיחתם כאמור, עליה חתום המפרסם ו/או מי מטעמו, תיקרא להלן "ההזמנה".
      שירותי פרסום מודעות דרושים ו/או באנרים ו/או לוגו חברה ו/או שם החברה המפרסמת ו/או כל פרסום אחר שיזמין המפרסם באתר מאת ג'וב קיטשן ייקרא להלן: "השירות".
      תכנים מכל מין ו/או סוג שהוא, אשר ניתן להעלות ו/או לכלול באתר בכל דרך שהיא, לרבות באמצעות מלל ו/או מספור ו/או תמונות ו/או כל אמצעי חזותי ו/או קולי אחר, יקראו להלן: "תכנים".

      <p class="mv2"><strong>תנאי הפרסום באתר:</strong></p>
      1. ג'וב קיטשן תיתן למפרסם את השירות בהתאם לתנאי ההזמנה ו/או לפריטים שנרכשו ו/או הוזמנו על ידו ובכפוף לפירעון מלוא התמורה, כפי שהוסכמו בין ג'וב קיטשן ובין המפרסם.<br>
      2. ג'וב קיטשן אינה מתחייבת כי למידע או למודעות שיפורסמו באתר תהיה היענות. ג'וב קיטשן אינה יכולה לדעת אילו תגובות (אם בכלל) יתקבלו בעקבות הפרסום ומי יגיב למידע שתמסור לפרסום, לכן לא תישא כלפי המפרסם (או כלפי מי מטעמו) באחריות כלשהי לתגובות הללו, לזהות הפונים אל המפרסם או לכל תוצאה שתנבע מהפרסום. ג'וב קיטשן לא תהיה אחראית לכל שימוש שייעשה על ידי צד שלישי בפרטים שימסרו לפרסום.<br>
      3. ג'וב קיטשן אינה מחויבת לאשר הזמנה ממפרסם העוסק בהפעלת לוח דרושים באינטרנט. ג'וב קיטשן רשאית להפסיק להעניק את השירות למפרסם המפעיל לוח דרושים באינטרנט בהודעה של 7 יום מראש. במקרה זה, ישלם המפרסם את מלוא הסכום שהיה עליו לשלם עד למועד הפסקת השירות, לפי מחירון הפרסום שיהיה תקף באותה העת בג'וב קיטשן.<br>
      4. ג'וב קיטשן אינה אחראית לתוכן המידע המועלה לאתר על ידי מחפשי עבודה ו/או על ידי כל גורם אחר.<br>
      5. המפרסם מתחייב כי המידע שיפורסם ויועלה על ידו לאתר יהיה בהתאם להוראות כל דין, כפי שיהיה בתוקף, מעת לעת, בהעלאת כל פרסום ופרסום, ובכלל זה, בהתאם לדרישות חוק שוויון הזדמנויות בעבודה, תשמ"ח – 1988, וכל תקנה לפיו.<br>
      6. על המפרסם באתר חלות מגבלות על פרסום מודעות ותכנים אחרים באתר. בחתימה על ההזמנה, המפרסם מקבל על עצמו מגבלות אלה ומאשר בכך, כי במודעה ובתכנים שנמסרו לפרסום לא מופיע התוכן המפורט כדלקמן:<br>

      <p class="pr3">1. כל תוכן הפוגע ו/או מפר זכויות קנייניות של אחרים – לרבות קניין רוחני (זכויות יוצרים, סימני מסחר וכיוצ"ב), לרבות העלאת תוכן אשר אינו שייך למפרסם.<br>
      2. תכנים בעלי אופי פורנוגרפי ו/או מיני בוטה, מאיימים, גזעניים, מוציאי לשון הרע, מעודדים לביצוע עבירות, פליליות או אזרחיות, פוגעים בפרטיות, מזיקים, פוגעים ברגשות הציבור ותכנים אשר מהווים הפרה כלשהי של החוק.<br>
      3. תכנים אשר מכילים מידע שגוי ו/או שקרי ו/או מידע השייך לכל אדם או גוף אחר.<br>
      4. כל תוכן המהווה לשון הרע על אדם או הפוגע בפרטיות.<br>
      5. כל תוכן ומידע הנוגע לקטינים ומזהה אותם, את פרטיהם האישיים או את מענם ודרכי ההתקשרות עימם.<br>
      6. כל תוכנת מחשב, קוד מחשב או יישום הכוללים נגיף-מחשב (וירוס) ו/או רוגלות, ואנדלים (Vandals), לרבות תוכנות עוינות הידועות כסוס טרויאני, תולעים, יישומים מזיקים (Malicious Applications) וכיו"ב.<br>
      7. סיסמאות, שמות משתמש ופרטים אחרים, המאפשרים שימוש בתוכנות מחשב, קבצים דיגיטליים, אתרי אינטרנט או שירותים, הטעונים הרשמה או תשלום, בלא תשלום או הרשמה כאמור.<br>
      8. כל מידע ו/או תוכן שפרסומו נאסר לפי הוראות כל דין, לרבות על-פי צווי איסור פרסום של בתי-משפט, ולרבות פרטים העשויים לזהות נפגעי עבירות מין, עבריינים או קורבנות מעשי עבירה קטינים וכיוצ"ב.<br>
      9. כל מידע בעל אופי או תוכן טורדני, מעליב, עוין, מאיים, גס או גזעני.<br>
      10. כל מידע העלול להטעות צרכן.<br>
      11. כל מידע המנוגד לכללי השימוש המקובלים באינטרנט או העלול לגרום נזק או לפגוע במשתמשי אינטרנט בכלל ובמשתמשי האתר בפרט.<br>
      12. מידע שהגישה אליו חסומה באמצעות סיסמה וכיו"ב ואינה מתאפשרת באופן חופשי לכל משתמשי האינטרנט.<br>
      13. בעלי אופי מסחרי ו/או המכילים מידע פרסומי כלשהו.<br>
      14. אינם רלוונטיים להצעת העבודה המפורסמת ו/או מכילים מידע שגוי ו/או שקרי ו/או מוטעה ו/או מטעה ו/או מידע השייך לכל אדם או גוף אחר אשר אינו מחפש העבודה, לרבות קורות חיים, תמונות, ומידע אישי.<br>
      15. תכנים אשר אינם רלוונטיים לעמוד בו הם מופיעים.<br>
      16. תכנים אשר מכילים מידע שגוי ו/או שקרי ו/או מוטעה ו/או מטעה ו/או מידע השייך לכל אדם או גוף אחר אשר אינו המשתמש, לרבות קורות חיים, תמונות, ומידע אישי.
      התכנים המפורטים בסעיף זה יקראו להלן: "תכנים אסורים".</p>
      7. במידה ובקורות החיים ו/או כל חומר אחר שנשלח אל המפרסם על ידי משתמשים באתר, נכללו תכנים אסורים, אזי, יהא רשאי המפרסם לפנות לכתובת הבאה info@jobmaster.co.il, להודיע לו אודות תוכן זה, ולבקש כי התוכן האסור יוסר מהאתר. לאחר קבלת הודעה ובקשה כאמור מאת המפרסם, תפעל ג'וב קיטשן כמיטב יכולתה לבדוק האם התוכן הנ"ל הועלה בניגוד לתנאי תקנון האתר, ובמידה שתמצא לנכון, גם לקבלת תגובת הגורם שהעלה את התוכן לאתר. במידה ותמצא לנכון, לפי שיקול דעתה הבלעדי, תהא רשאית החברה להחליט כי התוכן אכן מנוגד לתקנון ו/או לחוק, ובהתאם לכך גם תהיה החברה רשאית לפעול להסרתו מהאתר.<br>
      8. החלטת ג'וב קיטשן באם להסיר את התוכן מהאתר נתונה לשיקול דעתה הבלעדי של ג'וב קיטשן, ולמפרסם אין ולא תהיה כל טענה ו/או דרישה ו/או תביעה ו/או זכות כנגד ג'וב קיטשן בכלל ובקשר להחלטה האמורה בפרט, למעט עצם זכותו לפנות אל ג'וב קיטשן בהודעה ובבקשה כאמור.<br>
      9. מבלי לגרוע מהאמור לעיל, ג'ובקיטשן לא תהיה אחראית לכל נזק שייגרם למפרסם כתוצאה מתוכן המועלה לאתר על ידי מחפשי עבודה ו/או על ידי גורמים אחרים כלשהם, אשר לא הועברה לגביו הודעה ובקשה כאמור ו/או שניתנה לגביו הודעה ובקשה כאמור, וג'וב קיטשן החליטה, לפי שיקול דעתה הבלעדי כאמור, להסירו מהאתר ו/או להותירו באתר.<br>
      10. חל איסור מוחלט להעלות בתוכן מודעות הדרושים תוכן פרסומי ו/או מסחרי ו/או הצעה למתן שירות כלשהו (לרבות הצעות לקורסים, לשיווק רשתי, פירמידות וכיוצ"ב (ע"י המפרסם או מי מטעמו, בתשלום או ללא תשלום (להלן: "הצעה מסחרית"). המפרסם מצהיר כי ידוע לו שע"פ "נהלי הפרסום" באתר מותר לו להציע בתוכן מודעות הדרושים הצעות עבודה בלבד עבור מחפשי העבודה באתר. מודעות דרושים אשר יכללו הצעה מסחרית שאינה מודעת דרושים יוסרו מיידית מאתר ג'וב קיטשן ללא צורך במתן הודעה למפרסם והשירות שניתן למפרסם יוקפא לאלתר.<br>
      11. המפרסם מצהיר כי קרא את "נהלי הפרסום" באתר וכי ידוע לו שהשימוש בשירותי האתר הינו בהתאם לנהלי פרסום אלה בלבד.

      <p class="mv2"><strong>תנאי ההתקשרות:</strong></p>
      1. המפרסם מצהיר כי ידוע לו שהמחירים המצוינים בהזמנה עליה חתם הם המחירים שקובעים לכל עניין ודבר, לא יהיה כל תוקף לסיכום בעל פה שיעשה המפרסם ו/או כל אדם המייצג את חברתו של המפרסם עם ג'וב קיטשן ו/או עם מי מנציגיה.<br>
      2. המפרסם מצהיר כי ידוע לו שכשנאמר ונכתב בהזמנת הפרסום עליה חתם "פרסום מודעות דרושים שונות" הכוונה היא לפרסום מודעות דרושים רגילות (טקסט בלבד) בלוח הדרושים הרגיל באתר וההזמנה והשירות אינם כוללים פרסום בלוח "עבודה בחו"ל" ו/או פרסום בכל תחום אחר ו/או פרסום כל מוצר אחר, לרבות באנרים, תמונות, טקסט בולט, משרות השבוע ו/או כל מצג אחר שאינו נמנה עם לוח הדרושים הרגיל באתר, אלא אם נאמר אחרת כמפורט בהזמנה, וכן סוכמה ושולמה בגין כך תמורה נוספת.<br>
      3. המפרסם מתחייב לפרסם רק מודעות דרושים אשר במסגרתן מוצעות הצעות עבודה בתשלום ולא כל תוכן אחר, לרבות תוכן שיווקי ו/או פרסומי ו/או תוכן המציע הצעות לשיווק רשתי, פירמידות וכו'.<br>
      4. המפרסם מצהיר כי ידוע לו שיחויב בתשלום מלוא התמורה, כמצוין בהזמנה עליה חתם, גם אם לא ינצל את מלוא השירות על פי ההזמנה ו/או את מלוא הפריטים שרכש לפי ההזמנה.<br>
      5. במקרה שהמפרסם לא יעמוד בתשלום כלשהו מתשלומיו, לפי המפורט בהזמנה ו/או שאתרו נסגר ו/או שהמפרסם הפסיק את פעילותו ו/או ניתן כנגדו צו או התראה בדבר פשיטת רגל או פירוק זמני או קבוע או מונה לו כונס נכסים זמני או קבוע או הוטל כנגדו עיקול, יהווה הדבר הפרת יסודית של ההזמנה וג'וב קיטשן תהיה רשאית (אך לא חייבת) להפסיק את השירות כולו או מקצתו ע"פ שיקול דעתה הבלעדי, ללא כל התראה מוקדמת, וזאת מבלי לפגוע ו/או לגרוע מכל זכות אחרת העומדת לחברה על פי כל דין ו/או הסכם.<br>
      6. במידה והופסק השירות ע"י ג'וב קיטשן, בגין אי עמידה בתנאי התשלום ו/או בגין כל אחד מהתנאים המפורטים בסעיפים 13 ו- 14 לעיל, ישלם המפרסם את מלוא התמורה עבור כל תקופת השירות כפי שהוגדר בהזמנה.<br>
      7. למען הסר ספק מובהר כי מעת שהופסק השירות, אם משום שהגיע מועד סיום תקופת השירות או כתוצאה מהסרת התכנים עקב הפרת תנאי תקנון זה, אין ולא תהיה למפרסם כל זכות בפריטים שרכש כאמור בטופס ההזמנה וג'וב קיטשן תהיה חופשייה למכור את אותם פריטים לצד ג'.<br>
      8. כל עוד ניתן השירות ע"י ג'וב קיטשן המפרסם אינו רשאי להודיע על רצונו בהפסקת השירות ו/או צמצום השירות המופיע בהזמנה עליה חתום המפרסם.<br>
      9. על אף האמור לעיל, מפרסם שיגיש לג'וב קיטשן בקשה בכתב להפסקת השירות (להלן: "בקשת הפסקה") וג'וב קיטשן תמצא לנכון, על פי שיקול דעתה הבלעדי, להפסיק את השירות, ישלם המפרסם את מלוא הסכום שהיה עליו לשלם עד למועד הפסקת השירות, לפי מחירון הפרסום שיהיה תקף באותה העת בג'וב קיטשן (להלן: "המחירון". במקרה של אי אישור בקשת הפסקה, יהיה על המפרסם לשלם את מלוא התמורה על השירות בהתאם לתנאי ההזמנה.<br>
      10. המפרסם מצהיר כי ידוע לו שגם אם יחלוף זמן בין מועד תחילת תקופת השירות לבין המועד בו יחל המפרסם להשתמש בשירות בפועל, מכל סיבה שהיא תלויה במפרסם, יהיה עליו לשלם את מלוא התמורה עבור השירות בגין מלוא תקופת השירות כהגדרתה בטופס ההזמנה.<br>
      11. מפרסם שלא יעמוד בתנאי התשלום אשר נקבעו עמו במסגרת טופס ההתקשרות יחויב לפצות את ג'וב קיטשן בגין הוצאות הגבייה עד להסדרת התשלום במלואו.<br>
      12. המפרסם מתחייב שלא להעביר לכל צד שלישי אחר שאינו חתום על גבי ההזמנה, כל הזכות הנובעת מההזמנה או כל הנגזר ממנה (לרבות פרסום מודעות, קידום מודעות בקליק קיטשן, שליחה מרובה וכד'), בתמורה או ללא תמורה, מבלי לקבל את הסכמת ג'וב קיטשן מפורשות בכתב. במקרה של הפרת סעיף זה, ג'וב קיטשן שומרת לעצמה את הזכות להפסיק את המנוי של המפרסם באופן מיידי, ללא הודעה מוקדמת וללא מתן פיצוי כלשהו למפרסם.<br>
      13. המפרסם מצהיר כי ידוע לו כי במקרה של הסרת הפרסום שנרכש על ידו, בשל הפרת תנאי תקנון זה, לא יוחזר לו התשלום בגין ימי פרסום ששולמו אך לא נוצלו בפועל עקב הסרת מודעת המפרסם כתוצאה מהפרת תנאי התקנון.<br>
      14. ג'וב קיטשן שומרת לעצמה את הזכות לשנות ו/או להפסיק את השירותים אשר היא מספקת באתר, לרבות שירותים סלולריים או חלק מהם, תוך או ללא הודעה למפרסם. כמו כן, ג'וב קיטשן שומרת על זכותה לעשות כל שינוי בתוכן, במידע ובשירותים הניתנים באתר ו/או בשירותים הסלולריים לפי שיקול דעתה, וללא צורך במתן הודעה מראש, ובכלל זה לשנות את שיוך הקטגוריות והתחומים של המשרות, אזורי עבודה, היקפי משרה, סוגי משרה וכל תוכן אחר הקשור לאתר ו/או למודעות הדרושים המתפרסמות בו מעת לעת.<br>
      15. אין בנקיטת פעולה כלשהי ע"י ג'וב קיטשן, בהתאם להוראות ההזמנה, כדי לגרוע מכל הזכויות והסעדים המוקנים לה על פי כל דין, בנוסף על האמור בהזמנה, מובהר כי הזמנה חתומה ע"י המפרסם ו/או על ידי מי מטעמו, מהווה חוזה מחייב לכל דבר ועניין.

      <p class="mv2"><strong>התוכנות המוצעות במסגרת האתר:</strong></p>
      1. ג'וב קיטשן מפעילה באתר תוכנה לניהול וגיוס כ"א הנקראת בשם המסחרי cvMaster וכן מערכת לקידום מודעות בתשלום פר הקלקה הנקראת בשם המסחרי clickMaster ("מערכת קידום מודעות") (להלן ביחד: "התוכנות").<br>
      2. המפרסם רשאי, לעשות שימוש בכל אחת מהתוכנות במסגרת השירותים הניתנים על ידי ג'וב קיטשן ללקוחותיה, וזאת תמורת תשלום נוסף, כפי שיוסכם בכתב בין ג'וב קיטשן לבין המפרסם.<br>
      3. מוצהר ומוסכם כי קוד התוכנות מוגן בזכויות יוצרים ומשום כך אסור להעתיק ו/או למסור ו/או כל חלק מהקוד ו/או את סיסמאות הגישה לתוכנות לשום גורם, בתמורה או שלא בתמורה, ללא הרשאה בכתב מג'וב קיטשן.<br>
      4. ידוע למפרסם, כי התוכנות הינן תוכנות מדף, אשר ביצועיהן מוכרים, ידועים ומקובלים על המפרסם והתאמתם ו/או אי התאמתם למטרות או שימושים מסוימים לרבות התוצאות הנובעות מהשימוש בתוכנות הנן באחריותו המלאה של המפרסם ובפיקוחו בלבד וכי ג'וב קיטשן איננה מקבלת על עצמה אחריות והיא לא תהיה אחראית לנזק או הפסד ישיר או עקיף שייגרם למפרסם ו/או למקבלי שרותיו מכל מין וסוג שהוא כתוצאה מהשימוש בתוכנות אלו.<br>
      5. המפרסם מצהיר, כי ידוע לו כי עריכת שינויים בתוכנות כתוצאה מהתאמת התוכנות במהלך הפעלתן באתר ג'וב קיטשן ו/או אצל המפרסם ו/או רכישתן ו/או השימוש בהן לא יקימו למפרסם זכויות יוצרים על קוד התוכנה או על חלקים ממנו.<br>
      6. ג'וב קיטשן שומרת לעצמה את הזכות לשנות את סכומי השרות החודשיים בעבור השימוש בתוכנות, בהתראה של 30 יום מראש, שינוי התשלום יעודכן באתר ג'וב קיטשן .<br>
      7. המפרסם מסכים לשלם לג'וב קיטשןאת כל החיובים שבחשבונו, בשקלים ובתוספת מע"מ כחוק ובהתאם לחישובים שיבוצעו ע"י המערכת האוטומטית במערכת קידום המודעות. החיוב יתבצע רק לאחר שגולש באתר ג'וב קיטשן לוחץ על המודעה של המפרסם.<br>
      8. במידה והמפרסם מעוניין להפסיק את השימוש במערכת קידום המודעות, יש ביכולתו לבטל את השירות במערכת הקידום בכל עת. במידה ותמצא יתרה בחשבונו של המפרסם הוא יהיה זכאי להחזר מלא של יתרה זו בניכוי בונוסים והטבות שניתנו בחשבון במהלך תקופת הפרסום.<br>
      9. ג'וב קיטשן מחילה מדיניות פרטיות על הנתונים המוזנים למערכת על ידי המשתמשים. ג'וב קיטשן מתחייבת לכבד את פרטיותם של משתמשי האתר, בכפוף לתנאי מדיניות הפרטיות באתר.<br>
      10. המפרסם מצהיר כי ידוע לו כי כל המידע המוצג באתר, הינו רכושה הבלעדי של ג'וב קיטשן מרגע הצגתו לראשונה באתר, ולחברה מלוא הזכויות במידע, לרבות זכויות הקניין הרוחני על אופן הצגתן וסידורן ויש לה אינטרס וזכות להגן עליהם.<br>
      11. המפרסם מתחייב לשפות את ג'וב קיטשן עובדיה, מנהליה, בעלי מניותיה או מי מטעמם בגין כל נזק ו/או הפסד ו/או אובדן רווח ו/או תשלום ו/או הוצאה שייגרמו לה בגין הפרת תנאי תקנון זה.<br>
      12. ג'וב קיטשן רשאית לשנות תנאי שימוש אלה מעת לעת מבלי למסור על כך הודעה מראש. ג'וב קיטשן תפרסם את התנאים החדשים באתר ותחילת תוקפם יהיה במועד פרסומם.<br>
      13. על מנת לשמור על איכות המוצר, קרי משרות אמיתיות (ולא פיקטיביות) המפורסמות ישירות ע"י המעסיקים ומחפשי עבודה אמיתיים (ולא פיקטיביים) עם טופס קו"ח, ועל מנת לענות על צרכי המעסיקים ומחפשי העבודה כאחד, לג'וב קיטשן חשוב לשמור על נהלי פרסום תקינים ואחידים באתר (להלן: "נהלי פרסום"), נהלי הפרסום נקבעים ומשתנים מידי פעם ע"י ג'וב קיטשן ע"פ הצורך, הודעה בדבר שינוי נהלי הפרסום יימסרו בהודעות באתר ו/או באמצעות משלוח אימייל למפרסם. המפרסם מתחייב לעמוד בנהלי הפרסום שיקבעו ע"י ג'וב קיטשן.<br>
      14. הוראות תקנון זה מתווספות לכל הוראות תקנון אחר המצוי באתר ובמקרה של אי התאמה, גוברות עליהן.<br>
      15. על הסכם זה יחולו אך ורק דיני מדינת ישראל. מקום השיפוט הבלעדי לכל עניין הנוגע להסכם זה והשימוש באתר הינו בבתי המשפט המוסמכים באזור תל-אביב יפו או בבתי המשפט בפתח תקווה.<br>
      16. החברה רשאית להפסיק את השימוש באתר במידה והמשתמש לא יעמוד במי תנאי תקנו זה.<br>
      17. קראתי את תקנון האתר ואני מסכים לתנאים המפורטים בו ומתחייב לכבדם.


    </p>
    </div>
  </div>
