<div class="container reversed">
  <h1 class="f2 ma3">תקנון האתר - מחפשי עבודה</h1>
  <h1 class="f4 ma3">ל - "תקנון אתר - מעסיקים" - <%= link_to "לחץ כאן", "/pages/תקנון_מעסיקים", class:""%></h1>
  <div class="ma3 ">
    <p class="mv2"><strong>מבוא:</strong></p>
      <p>האתר משמש כלוח פרסומי. השימוש באתר ובתכנים המוצגים בו כפוף לתנאי השימוש המפורטים להלן. אנא קרא תנאים אלה בעיון ובקפידה, שכן תחילת השימוש באתר ותכניו מעידה על הסכמתך ואישורך לאמור בתנאי שימוש אלו.

      האמור בתקנון זה מנוסח בלשון זכר מטעמי נוחות בלבד אולם הוא מיועד גם לנשים.


      <p class="mv2"><strong>הגדרות:</strong></p>

      חברת ג'וב קיטשן בע"מ, המפעילה את אתר www.jobkitchen.co.il, תיקרא להלן: "ג'וב קיטשן" ו/או "החברה", והאתר ייקרא להלן: "האתר".

      אדם אשר נרשם לאתר באמצעות עמוד ההצטרפות למחפשי עבודה ייקרא להלן: "מחפש עבודה" או "המשתמש".

      המידע המוצג באתר, לרבות המידע במודעות הדרושים המוצגות באתר וכן המידע אשר מוזן על ידי משתמש באתר ייקרא להלן: "המידע".

      הפרופיל שיוצר משתמש אשר נרשם לאתר באמצעות מערכת מחפשי העבודה באתר ייקרא להלן: "כרטיס המשתמש".
      העלאת תוכן לאתר, לרבות לכרטיס המשתמש באמצעות הזנת נתונים ו/או העלאת קבצים ייקרא להלן: "פרסום".
      תכנים מכל מין ו/או סוג שהוא, אשר ניתן להעלות ו/או לכלול באתר בכל דרך שהיא, לרבות באמצעות מלל ו/או מספור ו/או תמונות ו/או כל אמצעי חזותי ו/או קולי אחר (כגון: הודעות, תמונות, קבצים מסוגים שונים, קישורים, טקסטים וכל מידע אחר) יקראו להלן: "תכנים".


      <p class="mv2"><strong>השימוש באתר:</strong></p>

      1. האתר, ממשק ניהול קורות החיים באתר וכרטיס המשתמש למחפשי עבודה מיועדים לשימושם של מחפשי עבודה ולמטרה זו בלבד, ולא נועדו לשימוש אדם ו/או חברות ו/או גופים מסחריים או לא מסחריים אשר אינם מחפשי עבודה.<br>
      2. השימוש באתר בכלל ובמערכת מחפשי העבודה וכרטיס המשתמש בפרט נועדו אך ורק למטרות משלוח קורות חיים של מחפשי עבודה במענה למודעות ספציפיות. השימוש באתר אינו נועד להעלאת תוכן פרסומי ו/או העברת מסרים כלשהם אל מפרסמי המודעות באתר במסווה של מידע אישי של מחפש עבודה.<br>
      3. החברה מכבדת את פרטיות המשתמשים באתר ואת פרטיות המידע האישי שמועלה לאתר על ידי מחפשי העבודה. מידע אודות מדיניות הפרטיות של האתר ניתן למצוא בעמוד מדיניות פרטיות. יובהר, כי מדיניות הפרטיות מהווה חלק בלתי נפרד מתקנון זה ויכולה להשתנות מעת לעת.<br>
      4. מבלי לגרוע מהאמור לעיל ו/או במדיניות הפרטיות באתר, החברה תמנע ככל האפשר ממסירת פרטיך האישיים לצדדים שלישיים, למעט במקרים בהם ייפתח הליך משפטי (פלילי או אזרחי) כנגדה הנוגע למסירת פרטיך האישיים ו/או במקרים בהם תהיה מחויבת לעשות כן על פי צו שיפוטי שיינתן כנגדה.<br>
      5. מחפש העבודה מתחייב שלא להשתמש באתר למטרות אחרות מלבד חיפוש עבודה ומתחייב שלא לפרסם באתר את התכנים הבאים:
      כל תוכן הפוגע ו/או מפר זכויות קנייניות של אחרים – לרבות קניין רוחני (זכויות יוצרים, סימני מסחר וכיוצ"ב), לרבות העלאת תוכן אשר אינו שייך למפרסם.
      תכנים בעלי אופי פורנוגרפי ו/או מיני בוטה, מאיימים, גזעניים, מוציאי לשון הרע, מעודדים לביצוע עבירות, פליליות או אזרחיות, פוגעים בפרטיות, מזיקים, פוגעים ברגשות הציבור ותכנים אשר מהווים הפרה כלשהי של החוק.
      תכנים אשר מכילים מידע שגוי ו/או שקרי ו/או מידע השייך לכל אדם או גוף אחר.
      כל תוכן המהווה לשון הרע על אדם או הפוגע בפרטיות .
      כל תוכן ומידע הנוגע לקטינים ומזהה אותם, את פרטיהם האישיים או את מענם ודרכי ההתקשרות עימם.
      כל תוכנת מחשב, קוד מחשב או יישום הכוללים נגיף-מחשב (וירוס) ו/או רוגלות, ואנדלים (Vandals), לרבות תוכנות עוינות הידועות כסוס טרויאני, תולעים, יישומים מזיקים (Malicious Applications) וכיו"ב.
      סיסמאות, שמות משתמש ופרטים אחרים, המאפשרים שימוש בתוכנות מחשב, קבצים דיגיטליים, אתרי אינטרנט או שירותים, הטעונים הרשמה או תשלום, בלא תשלום או הרשמה כאמור.
      כל מידע ו/או תוכן שפרסומו נאסר לפי הוראות כל דין, לרבות על-פי צווי איסור פרסום של בתי-משפט, ולרבות פרטים העשויים לזהות נפגעי עבירות מין, עבריינים או קורבנות מעשי עבירה קטינים וכיוצ"ב.
      כל מידע בעל אופי או תוכן טורדני, מעליב, עוין, מאיים, גס או גזעני.
      כל מידע העלול להטעות צרכן.
      כל מידע המנוגד לכללי השימוש המקובלים באינטרנט או העלול לגרום נזק או לפגוע במשתמשי אינטרנט בכלל ובמשתמשי האתר בפרט.
      מידע שהגישה אליו חסומה באמצעות סיסמה וכיו"ב ואינה מתאפשרת באופן חופשי לכל משתמשי האינטרנט.
      בעלי אופי מסחרי ו/או המכילים מידע פרסומי כלשהו.
      אינם רלוונטיים להצעת העבודה המפורסמת ו/או מכילים מידע שגוי ו/או שקרי ו/או מוטעה ו/או מטעה ו/או מידע השייך לכל אדם או גוף אחר אשר אינו מחפש העבודה, לרבות קורות חיים, תמונות, ומידע אישי.
      תכנים אשר אינם רלוונטיים לעמוד בו הם מופיעים.
      תכנים אשר מכילים מידע שגוי ו/או שקרי ו/או מוטעה ו/או מטעה ו/או מידע השייך לכל אדם או גוף אחר אשר אינו המשתמש, לרבות קורות חיים, תמונות, ומידע אישי.
      התכנים המפורטים בסעיף זה יקראו להלן: "תכנים אסורים".<br>

      6. החברה רשאית לסרב לפרסם תכנים באתר, אשר לדעתה מפרים את תקנון האתר ו/או עלולים לפגוע באתר ו/או בצד שלישי כלשהו, והיא רשאית למחוק תכנים כאלו בכל עת ובמידת הצורך אף למחוק את התוכן שהועלה על ידי המשתמש או את כרטיס המשתמש כולו או חלקו, באופן זמני או לצמיתות.<br>
      7. במידה ויתקבלו אצל החברה תלונות אודות שימוש בכרטיס משתמש בניגוד לתנאי התקנון, החברה שומרת לעצמה את הזכות למחוק באופן מיידי את כרטיס המשתמש ללא התראה מוקדמת וללא מתן הנמקה למחפש העבודה.<br>
      8. מחיקת תכנים נתונה לשיקול דעתה הבלעדי של ג'וב מאסטר, והמשתמש באתר מאשר כי אין ולא תהיה לו כל טענה ו/או דרישה ו/או תביעה כלפי ג'וב מאסטר בקשר למחיקת תכנים כאמור.<br>
      9. הפסקת פעילות המשתמש לא תגרע מהתחייבויותיו של המשתמש כמפורט במסגרת תקנון זה, אף אם יותר למשתמש לשוב ולהשתמש בשירותי האתר.<br>
      10. מבלי לגרוע מן האמור לעיל, מחפש העבודה מתחייב להשתמש במערכת לשליחת קורות החיים המהווה חלק מהאתר, וזאת אך ורק לצורך שליחת קורות חיים, ולא לכל מטרה אחרת, לרבות אך לא רק לצורך משלוח תוכן שיווקי ו/או פרסומי ו/או אחר מכל מין ו/או סוג שהוא. במידה ומחפש העבודה השתמש באתר לשם משלוח תוכן שיווקי כאמור בסעיף זה, עליו לפצות את החברה, מיד עם דרישתה הראשונה לכך, בגין נזקיה הישירים והעקיפים הנובעים כתוצאה מהפרה כאמור, מבלי שתוטל על החברה כל חובה להוכיח את נזקיה והפסדיה כאמור, בסכום קבוע ומוערך מראש בסך של 2,500 ₪ עבור כל הפרה כאמור, וזאת בנוסף ומבלי לגרוע מכל סעד אחר שיעמוד לחברה כנגדי, לרבות זכותה של החברה לתבוע בנוסף סעד של שיפוי ו/או פיצויים ו/או כל סעד מצטבר אחר לפי שיקול דעתה הבלעדי של החברה, עקב הפרת ההתחייבות כאמור.<br>
      11. מבלי לגרוע מהאמור לעיל, לחברה תעמוד זכות לנקוט בכל הליך משפטי, לרבות דרישה לסעדים זמניים, כנגד מחפש עבודה אשר הפר מי מסעיפי תקנון זה.<br>
      12. המשתמש מתחייב לשפות את ג'וב מאסטר עובדיה, מנהליה, בעלי מניותיה או מי מטעמם בגין כל נזק ו/או הפסד ו/או אובדן רווח ו/או תשלום ו/או הוצאה שייגרמו לה בגין הפרת תנאי תקנון זה.<br>
      13. החברה לא תישא בכל אחריות ביחס למידע הנמצא באתר ובכל מכשיר קצה בהם הוא מופיע, תוכנו, מהימנותו, דיוקו, אמינותו והשפעתו על המחשבים של הגולשים באתר וכן לכל נזק, אי נוחות, אבדן, עגמת נפש וכיוצא באלו תוצאות, ישירות או עקיפות שייגרמו למשתמש, לרכושו או לכל צד שלישי בשל שימוש במידע זה.<br>
      14. התכנים שנמסרים לפרסום באתר יהיו חשופים לכל משתמשי האינטרנט, לרבות מנועי חיפוש שסורקים את האתר על בסיס יומי/שבועי/חודשי באופן אוטומטי והחברה אינה יכולה לדעת אילו תגובות עלולות לקבל בעקבות מסירת התכנים. החברה לא תישא כלפי המשתמש באחריות לתגובות אלו.<br>
      15. מלוא זכויות היוצרים והקניין הרוחני בעיצוב האתר, תוכנו (לרבות המידע והתכנים המופיעים בו), אופן הצגתו ובכל תוכנה, יישום, קוד מחשב, קובץ גרפי, טקסט וכל חומר אחר הכלול בו - הינן של החברה בלבד ויש לה אינטרס וזכות להגן עליו. אין להעתיק, להפיץ, לשנות, להציג בפומבי ו/או למסור לצד שלישי כל חלק מן הנ"ל בלא קבלת הסכמתה של החברה, בכתב ומראש. סימני המסחר באתר הינם קניינה של החברה בלבד - או, במידה שפורסמו מטעמם של מפרסמים, קניינם של מפרסמים אלה בלבד. אין לעשות בהם שימוש בלא הסכמתם, בכתב ומראש.<br>
      16. השימוש באתר, במידע ובתכנים המופיעים בו ניתן לשימוש כמות שהוא (as is) בהתאם להחלטת החברה, ולא תהיה למחפש העבודה כל טענה, תביעה או דרישה כלפי החברה בגין תכונות השימוש, המגבלות או התגובות שיעורר הפרסום באתר ובמכשירי הקצה. השימוש, בתכנים המוצגים באתר ובמכשירי הקצה ובשירותי האתר, יעשה על אחריותו הבלעדית והמלאה של מחפש העבודה.<br>
      17. החברה רשאית לסגור את האתר ולשנות מעת לעת את מבנהו, מראהו וזמינותם של השירותים והתכנים הניתנים בו וזאת ללא צורך להודיע על כך מראש. לא תהיה למחפש העבודה כל טענה, תביעה או דרישה כלפי החברה בקשר לכך.<br>
      18. החברה אינה מתחייבת שהשירות הניתן באתר לא יופרע ו/או יינתן כסדרו ללא הפסקות והפרעות ו/או יהיה חסין מפני גישה לא חוקית למחשבי החברה, נזקים, קלקולים, תקלות, כשלים בחומרה, תוכנה או בקווי התקשורת אצל החברה או מי מספקיה או ייפגע מכל סיבה אחרת, והחברה לא תהא אחראית לכל נזק, ישיר או עקיף, עגמת נפש וכיו"ב שייגרמו למחפש העבודה או לרכושו עקב כך.<br>
      19. אין החברה מתחייבת כי כל הקישורים שימצאו באתר יהיו תקינים ויובילו לאתר אינטרנט פעיל, עקב הימצאותו של קישור לאתר מסוים באתר החברה אינה מלמדת כי תוכן האתר המקושר הינו מהימן, מלא או עדכני, והחברה לא תישא בכל אחריות בקשר לכך. מבלי לגרוע באמור לעיל החברה אינה אחראית לכל נזק, עקיף או ישיר שייגרם למשתמש ו/או לרכושו כתוצאה משימוש ו/או הסתמכות על המידע והתכנים המופיעים באתרים אליהם תגיע באמצעות או דרך שימוש או קישור הקיימים באתר החברה ו/או בגין שימוש או הסתמכות על מידע ותכנים המתפרסמים באתר ע"י צדדים שלישיים.<br>
      20. מחפש העבודה מתחייב שלא לעשות כל שימוש מסחרי במידע, כולו או מקצתו, לרבות פרסום המידע כולו או מקצתו, בכל דרך שהיא וכן מתחייב שלא להעביר את המידע, כולו או מקצתו, לצד שלישי כלשהו.<br>
      21. מחפש העבודה מצהיר כי ידוע לו כי השימוש באתר נועד לצרכים פרטיים ולחיפוש עבודה בלבד.<br>
      22. מחפש העבודה מתחייב שלא יעדה כל שימוש במידע, כולו או חלקו, לצרכם של אחרים ו/או לבקשתם של אחרים.<br>
      23. הוראות תקנון זה מתווספות לכל הוראות תקנון אחר המצוי באתר ובמקרה של אי התאמה, גוברות עליהן.<br>
      24. החברה רשאית לשנות את תנאי שימוש אלה מעת לעת בלי למסור על כך הודעה מראש. החברה תפרסם את התנאים החדשים ותחילת תוקפם יהיה ממועד פרסומם.<br>
      25. על הסכם זה יחולו אך ורק דיני מדינת ישראל. מקום השיפוט הבלעדי לכל עניין הנוגע להסכם זה והשימוש באתר הינו בבתי המשפט המוסמכים באזור תל-אביב יפו או בבתי המשפט בפתח תקווה.<br>
      26. החברה רשאית להפסיק את השימוש באתר במידה והמשתמש לא יעמוד במי תנאי תקנו זה.<br>
      27. קראתי את תקנון האתר ואני מסכים לתנאים המפורטים בו ומתחייב לכבדם.


    </p>
    </div>
  </div>
