<div style="direction: rtl;">
  <table align="right" width="600">
    <tr>
      <td>
        <span style="float: right;"><img src="https://res.cloudinary.com/jobkitchen/image/upload/v1555185671/email-image.png" alt="Job Kitchen logo"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h3>שלום רב!</h3>
        <p>קורות החיים ששלחת מגיעים למעסיק ברגעים אלה ממש!</p>
        <p><strong>איך ממשיכים מכאן?</strong></p>
        <p>המעסיק לו שלחתם קורות חיים יחזור אליכם בהקדם, ואנו בינתיים נחזיק אצבעות להתאמה המושלמת!</p>
        <p>אבל, אל תנוחו בינתיים.. נצלו את הזמן לחפש עוד מעסיקים שמתאימים לכם- אנו ממליצים לשלוח קורות חיים לכמה שיותר מעסיקים, כך שאתם תוכלו לבחור בזה הנכון ביותר עבורכם.</p>
        <p>אז קדימה, למה אתם מחכים?</p>
        <p><a href="www.jobkitchen.co.il">www.jobkitchen.co.il</a></p>
        <p>שלך,</p>
        <p><strong>צוות Job Kitchen</strong></p>
      </td>
    </tr>
  </table>
</div>
