// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.columns {
  flex-direction: row-reverse;
}


.card {
  direction: rtl;
}

.card-text {
  height: 58px;
}

.card-header-title {
  padding: 1.5rem;
}

.postings {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
