// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  color: white;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: contain;
  background-attachment: fixed;
}

.panel{
  margin-top: -40px;
}

.card-product {
  overflow: hidden;
  height: 135px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  color: white;
}

.card-product img {
  height: 100%;
  width: 100px;
  padding: 2px;
  object-fit: cover;
  margin: 5px;
}

.card-image {
  margin: 7px;
  width: 110px;
}

.card-product h2 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: 1;
  margin: 0;
  color: white;
}

.card-product a {
  color: white;
  text-decoration: none;
}


.card-product-link {
  background-color: rgba(59,135,208,0.9);

}

.card-product-success {
  background-color: rgba(88,49,49,0.9);

}

.card-product-blue {
  background-color: rgba(37,63,115,0.9);

}

.card-product-primary {
  background-color: rgba(29,151,108,0.9);

}

.card-product-infos {
  background-color: rgba(201,76,86,0.9);

}

.card-product-blank {
  background-color: rgba(76,80,87,0.9);

}



#location {
  text-align: left;
  margin-top: 15px;
}


@media (max-width: 807px) {
.banner {
  display: none;
  }

.panel {
  margin-top: 0px;
  }

}
