// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.reversed {
  flex-direction: row-reverse;
}


.card {
  direction: rtl;
}

.is-horizontal {
  display: flex;
  flex-basis: 50ex;
  flex-grow: 0;
  flex-shrink: 1;
}

.card-image {
  flex: 4;
  flex-shrink: 1;
}

.image {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card-content {
  flex: 3;
}

