ul.filter li {
  display: inline-flex;
}

.pbutf{
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;

  &:before{
    border-radius: 100px;
    border: 2px solid #468cdc;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 110px;
    width: 110px;
    margin-left: -55px;
    margin-top: -55px;
    opacity: 1;
    transform: scale(1);
    // transition: all 300ms ease;
  }

  &:hover:before{
    transform: scale(1.05);
  }

  &.circle{
    border: none;
    border-radius: 900px;
    color: #e4ecfa;
    cursor: pointer;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 110px;
    position: relative;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 8px;
    transition: 0.5s;

    &:hover {
      padding: -2px;
    }
  }

  &.dark {
    background-color: #363636;

    &:hover {
      background-color: #2f2f2f;
    }
  }

  &.link {
    background-color: #3273dc;

    &:hover {
      background-color: #276cda;
    }
  }

  &.success {
    background-color: #23d160;

    &:hover {
      background-color: #22c65b;
    }
  }

  &.blue {
    background-color: #1f4287;

    &:hover {
      background-color: #1b3b79;
    }
  }

  &.primary {
    background-color: #00d1b2;

    &:hover {
      background-color: #00c4a7;
    }
  }

  &.info {
    background-color: #209cee;

    &:hover {
      background-color: #1496ed;
    }
  }
}

.icon-segment {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.icon-image {
  position: absolute;
  top: 25%;
  left:33%;
}

#kitchen {
  position: absolute;
  top: 25%;
  left:33%;
  height: 50px;
  width: 32px;
}

#sales {
  position: absolute;
  top: 25%;
  left:31%;
  height: 46px;
  width: 40px;
}

#all {
  position: absolute;
  top: 43%;
  left:29%;
  height: 10px;
  width: 43px;
}

#service {
  position: absolute;
  top: 27%;
  left:27%;
  height: 45px;
  width: 45px;
}

#general {
  position: absolute;
  top: 25%;
  left:32%;
  height: 47px;
  width: 36px;
}

.icon-text {
  color: #95989a;
}

.location {
  padding-bottom: 50px;
}

a.dropdown-item {
  padding-right: 1rem;
  text-align: right;
}

