.thank-you {
  text-align: center;
}

.thank-text {
  padding: 30px;
}

.thank-you-title {
  padding-top: 50px;
}

#thank-line2 {
  padding-bottom: 30px;
}

.main-content__checkmark {
  font-size:4.0625rem;
  line-height:1;
  color:#24b663;
}

.main-content__checkmark {
  font-size:6.75rem;
}
