@import "bulma";
@import "functions";
@import "jobs";
@import "job_applications";
@import "devise";
@import "panel";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 15rem;
}

h1, h2, h3, h4, h5, p, a, ul, li {

  direction: rtl;
}

.reversed {
  direction: rtl;
}

.navbar {
  direction: rtl;
  align-items: end;
  margin-bottom: 1px;
  background: #2f2f2f;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.navbar-menu {
  padding-top: 15px;
}

.navbar-item img {
  max-height: 4.75rem;
  padding: 18px;
}

.navbar-burger {
  color: white;
  margin-right: auto;
  margin-left: 5px;
  height: 4.25rem;
}

.navbar-item.has-dropdown {
  border-radius: 4px;
}

.navbar-item.button {
  margin-left: 3px;
}

.navbar-link {
  line-height: 0.5rem;
}

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 220px;
}

.footer-link {
  color: black;
  &:hover {
    color: grey;
  }
}

@media (max-width: 807px) {
 .navbar-item img {
  max-height: 3.75rem;
  }

#facebook-button {
  display: none;
  }

}
