@import "bulma";
@import "functions";
@import "jobs";
@import "stripe";



h1, h2, h3, h4, h5, p, a, ul, li {

direction: rtl;
}


.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
}
