<p>Hello <%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>כתובת המייל שלך השתנתה <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>כתובת המייל שלך השתנתה ל <%= @resource.email %>.</p>
<% end %>