<p>שלום <%= @resource.email %>!</p>
<p>נשלחה בקשה לשינוי סיסמא, אנא לחץ על הלינק למטה כדי לשנות את הסיסמא.</p>
<p><%= link_to 'שנא סיסמא', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>אם לא בקשת לשנות סיסמא, התעלם ממייל זה.</p>